/* container div */
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 52px 98px;
    /* background-color: darkgreen; */
}

.logo_div {
    display: flex;
    height: 46px;
    width: 127px;

}

.header_h1,
.header_h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
}

.h1 {
    color: #27187F;
}

.h2 {
    color: #758BFD;
}

.header_nav {
    width: calc(393 / 1440 * 100%);
}

.header_ul {
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
}

.active {
    color: #27187F;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.no_active {
    color: #758BFD;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.header_div2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 222px;
    height: 56px;
    border-radius: 10px;
    border: 3px solid #758BFD;
    padding: 12px 8px 12px 182px;
}

.fa-magnifying-glass {
    color: #758BFD;
    /* width: 32px;
    height: 32px; */
    /* background-color: chartreuse; */
}

/* section */
.section {
    display: flex;
    background: #DDEAF8;
    width: calc(1244 / 1440 * 100%);
    padding: 115px 0;
    align-items: center;
    justify-content: center;
    margin: auto;

}

.section_article {
    display: flex;
    width: calc(1244/ 1440 * 100%);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 68px;

}


.section_h3 {
    color: #27187F;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
}

.section_div {
    display: flex;
    flex-wrap: wrap;
    row-gap: 51px;
    justify-content: space-between;
    align-items: center;
}

.cards {
    display: flex;
    width: calc(430/ 1440 * 100%);
    padding: 27px 22px;
    flex-direction: column;
    justify-content: center;
    gap: 33px;
    border-radius: 10px;
    background: #FFF;
}

.figure_img {
    width: 300px;
    height: 150px;
}

figcaption {
    color: #133B3A;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    width: 320px;
}

